aside.sidebar
  .logo
    a(href="#") AdminPanel
  nav.sidebar-nav
    ul
      li
        a(href="#") Dashboard
      li
        a(href="#") Users
      li
        a(href="#") Posts
      li
        a(href="#") Settings
      li
        a(href="#") Logout
